F:/Programming/Dashies Code/Private
F:/Programming/Dashies Code/Private/
/DashJoin/dist/
/DashJoin/build/
/DashStrict/nbproject/private/
/DashStrict/dist/
/DashStrict/build/
/DashMoney/nbproject/private/
/DashMoney/build/
/DashMoney/dist/
/Dash Smelter/nbproject/private/
/Dash Smelter/build/
/Dash Smelter/dist/
/DashSmelter/nbproject/private/
/DashSmelter/dist/
/DashSmelter/build/
/DashSit/nbproject/private/
/DashSit/build/
/DashSit/dist/
/DashiesXRayNotifier/nbproject/private/
/.metadata/
/nbproject/private/
/DashiesXRayNotifier/dist/
/DashiesXRayNotifier/build/
/DashRays/dist/
/DashRays/build/
/AutoBroadcaster/nbproject/private/
/AutoBroadcaster/build/
/AutoBroadcaster/dist/
/The Dqu/nbproject/private/
/The Dqu/dist/
/The Dqu/build/
/Phuntums/nbproject/private/
/Phuntums/build/
/Phuntums/dist/
/DashTP/nbproject/private/
/DashTP/build/
/DashTP/dist/
/FishyRewards/nbproject/private/
/Player Heads/nbproject/private/
/FishyRewards/build/
/FishyRewards/dist/
/Player Heads/dist/
/Player Heads/build/
/DashColours/nbproject/private/
/PlayerHeads/nbproject/private/
/PlayerHeads/dist/
/PlayerHeads/build/
/Java Minecraft Plugins/1.13x/DashHeads/dist/
/Java Minecraft Plugins/1.13x/DashHeads/build/
/Java Minecraft Plugins/1.13x/DashColours/build/
/Java Minecraft Plugins/1.13x/DashColours/dist/
/SocialLinks/nbproject/private/
/SocialLinks/build/
/SocialLinks/dist/
/Java Minecraft Plugins/1.13x/DashStrict/nbproject/private/
/Java Minecraft Plugins/1.13x/GameFactsJoin/nbproject/private/
/Java Minecraft Plugins/1.13x/GameFactsJoin/dist/
/Java Minecraft Plugins/1.13x/GameFactsJoin/build/
/Java Minecraft Plugins/1.13x/CraftBlocker/nbproject/private/
/Java Minecraft Plugins/1.13x/CraftBlocker/dist/
/Java Minecraft Plugins/1.13x/CraftBlocker/build/
/Java Minecraft Plugins/1.13x/DashChat/nbproject/private/
/Java Minecraft Plugins/1.13x/DashChat/dist/
/Java Minecraft Plugins/1.13x/DashChat/build/
/Java Minecraft Plugins/1.13x/DashChatCooldown/nbproject/private/
/Java Minecraft Plugins/1.13x/DashChatCooldown/build/
/Java Minecraft Plugins/1.13x/DashChatCooldown/dist/
/Java Minecraft Plugins/1.13x/DashSession/nbproject/private/
/Java Minecraft Plugins/1.13x/DashSession/build/
/Java Minecraft Plugins/1.13x/DashSession/dist/
/BetterMobs/nbproject/private/
/BetterMobs/build/
/BetterMobs/dist/
/Java Minecraft Plugins/1.13x/DashTrolling/nbproject/private/
/Java Minecraft Plugins/1.13x/Bandaids/nbproject/private/
/Java Minecraft Plugins/1.13x/Bandaids/build/
/Java Minecraft Plugins/1.13x/Bandaids/dist/
/LoginRewards/nbproject/private/
/LoginRewards/build/
/LoginRewards/dist/
/No Glasses Projects/DashIvyPayload/nbproject/private/
/No Glasses Projects/DashIvyPayload/dist/
/No Glasses Projects/DashIvyPayload/build/
/Java Minecraft Plugins/1.13x/ItemDisplay/nbproject/private/
/Java Minecraft Plugins/1.13x/ItemDisplay/build/
/Java Minecraft Plugins/1.13x/ItemDisplay/dist/
/Java Minecraft Plugins/1.13x/ItemRename/nbproject/private/
/Java Minecraft Plugins/1.13x/ItemRename/dist/
/Java Minecraft Plugins/1.13x/ItemRename/build/
/Java Minecraft Plugins/1.13x/ChunkBuster/nbproject/private/
/Java Minecraft Plugins/1.13x/nbproject/private/
/Java Minecraft Plugins/1.13x/DashTP/build/
/Java Minecraft Plugins/1.13x/DashTP/dist/
/Java Minecraft Plugins/1.13x/DashIvy/nbproject/private/
/Java Minecraft Plugins/1.13x/DashIvy/build/
/Java Minecraft Plugins/1.13x/DashIvy/dist/
/Java Minecraft Plugins/1.13x/JoinSounds/nbproject/private/
/Java Minecraft Plugins/1.13x/JoinSounds/dist/
/Java Minecraft Plugins/1.13x/JoinSounds/build/
/Java Minecraft Plugins/1.13x/DashRedeem/nbproject/private/
/Java Minecraft Plugins/1.13x/DashCaptcha/nbproject/private/
/Java Minecraft Plugins/1.13x/DashCaptcha/dist/
/Java Minecraft Plugins/1.13x/DashCaptcha/build/
/Java Minecraft Plugins/1.13x/HarderMobs/nbproject/private/
/Java Minecraft Plugins/1.13x/HarderMobs/dist/
/Java Minecraft Plugins/1.13x/HarderMobs/build/
/Java Minecraft Plugins/1.13x/LightningWand/nbproject/private/
/Java Minecraft Plugins/1.13x/LightningWand/build/
/Java Minecraft Plugins/1.13x/LightningWand/dist/
/Java Minecraft Plugins/1.13x/build/
/Java Minecraft Plugins/1.13x/dist/
/Java Minecraft Plugins/1.13x/Dash Warps/nbproject/private/
/Java Minecraft Plugins/1.13x/DashTPA/nbproject/private/
/Java Minecraft Plugins/1.13x/DashThrowables/nbproject/private/
/Java Minecraft Plugins/1.13x/DashThrowables/build/
/Java Minecraft Plugins/1.13x/DashThrowables/dist/
/FireworkBow/nbproject/private/
/Java Minecraft Plugins/1.13x/FireworkBow/nbproject/private/
/Java Minecraft Plugins/1.13x/BiggerExplosions/nbproject/private/
/Java Minecraft Plugins/1.13x/BiggerExplosions/build/
/Java Minecraft Plugins/1.13x/BiggerExplosions/dist/
No Glasses Projects/Dash IP Stresser/obj/Release/Dash_IP_Stresser.Properties.resources.resources
No Glasses Projects/Dash IP Stresser/obj/Release/Dash IP Stresser.csprojAssemblyReference.cache
No Glasses Projects/Dash IP Stresser/Dash IP Stresser.pdb
*.ide-wal
*.ide
*.ide
*.ide-wal
*.cache
*.pdb
*.resources
No Glasses Projects/Dash IP Stresser/.vs/Dash IP Stresser/v16/.suo
No Glasses Projects/Dash IP Stresser/.vs/Dash IP Stresser/v16/.suo
*.ide
*.ide-shm
*.ide-wal
*.ide-shm
*.ide
*.ide-wal
*.ide
No Glasses Projects/Dash IP Stresser/.vs/Dash IP Stresser/v16/.suo
*.dll
*.txt
*.config
*.lock
*.sln
*.testlog
*.ipch
*.db
*.manifest
C and C++ Projects/WelshMussuge/.vs/WelshMussuge/v16/.suo
*.log
*.obj
*.res
*.tlog
*.aps
*.iobj
*.ipdb
*.filters
*.xml
*.properties
/Java Minecraft Plugins/1.13x/DeathEffects/nbproject/private/
*.mf
*.xml
*.opendb
C and C++ Projects/Dialog Spammer/.vs/Dialog Spammer/v16/.suo
No Glasses Projects/Dash Spam/.vs/Dash Spam/v16/.suo
*.settings
No Glasses Projects/MineCrack/.vs/MineCraft/v16/.suo
/Java Minecraft Plugins/1.13x/DeathHealth/nbproject/private/
/Java Minecraft Plugins/1.13x/DeathHealth/build/
/Java Minecraft Plugins/1.13x/DeathHealth/dist/
/Java Minecraft Plugins/1.13x/CustomHelp/nbproject/private/
/Java Minecraft Plugins/1.13x/CustomHelp/build/
/Java Minecraft Plugins/1.13x/CustomHelp/dist/
No Glasses Projects/Dash Ftp/.vs/DashCore/v16/.suo
/Java Minecraft Plugins/1.13x/RevampedAutoBroadcast/nbproject/private/
/Java Minecraft Plugins/1.13x/RevampedAutoBroadcast/build/
/Java Minecraft Plugins/1.13x/RevampedAutoBroadcast/dist/
/Java Minecraft Plugins/1.13x/MeowBawlz/nbproject/private/
/Java Minecraft Plugins/1.13x/MeowBawlz/build/
/Java Minecraft Plugins/1.13x/MeowBawlz/dist/
/Java Minecraft Plugins/1.13x/DashHat/nbproject/private/
/Java Minecraft Plugins/1.13x/DashHat/build/
/Java Minecraft Plugins/1.13x/DashHat/dist/
/Java Minecraft Plugins/1.13x/DeathEffects/dist/
/Java Minecraft Plugins/1.13x/DeathEffects/build/
/Java Minecraft Plugins/1.13x/DashCraft/nbproject/private/
/Java Minecraft Plugins/1.13x/DashCraft/build/
/Java Minecraft Plugins/1.13x/DashCraft/dist/
/Java Minecraft Plugins/1.13x/Cross-Bow/nbproject/private/
*.jar
/Java Minecraft Plugins/1.13x/Cross-Bow/build/
/Java Minecraft Plugins/1.13x/Cross-Bow/dist/
/Dash Schooling/Java/EventPlugin/nbproject/private/
/Dash Schooling/Java/EventPlugin/build/
/Dash Schooling/Java/EventPlugin/dist/
/Dash Schooling/Java/ConfigPlugin/nbproject/private/
/Dash Schooling/Java/ConfigPlugin/dist/
/Dash Schooling/Java/ConfigPlugin/build/
/Dash Schooling/Java/Strainables/nbproject/private/
/Dash Schooling/Java/Strainables/build/
/Dash Schooling/Java/Strainables/dist/
/Dash Schooling/Java/Lightning/nbproject/private/
/Dash Schooling/Java/Lightning/build/
/Dash Schooling/Java/Lightning/dist/
/Dash Schooling/Java/AfterLife/nbproject/private/
/Dash Schooling/Java/AfterLife/dist/
/Dash Schooling/Java/AfterLife/build/
/Dash Schooling/Java/DashKush/nbproject/private/
/Java Minecraft Plugins/1.13x/DashKushy/nbproject/private/
/Java Minecraft Plugins/1.13x/DashKushy/build/
/Java Minecraft Plugins/1.13x/Dash Security/nbproject/private/
/Java Minecraft Plugins/1.13x/Dash Security/dist/
/Java Minecraft Plugins/1.13x/Dash Security/build/
/Java Minecraft Plugins/1.13x/HealCommand/nbproject/private/
/Java Minecraft Plugins/1.13x/HealCommand/build/
/Java Minecraft Plugins/1.13x/HealCommand/dist/
/Java Minecraft Plugins/1.13x/DashGuard/nbproject/private/
/Java Minecraft Plugins/1.13x/DashGuard/build/
/Java Minecraft Plugins/1.13x/DashGuard/dist/
/Java Minecraft Plugins/1.13x/TNTvsBedrock/nbproject/private/
/Public Personal/HeroSB/CDM/nbproject/private/
/Public Personal/HeroSB/CDM/build/
/Public Personal/HeroSB/CDM/dist/
/Java/WitherSword/nbproject/private/
/Java/WitherSword/build/
/Java/WitherSword/dist/
/Public Personal/HeroSB/DashMerge/nbproject/private/
/Java/Crystal/nbproject/private/
/Java/Edibles/nbproject/private/
/Java/Edibles/build/
/Java/Edibles/dist/
/Java/GreaterCreepers/nbproject/private/
/Java/GreaterCreepers/dist/
/Java/GreaterCreepers/build/
/Java/SkeletonArrows/nbproject/private/
/Java/SkeletonArrows/dist/
/Java/SkeletonArrows/build/
/Java/FireworkBalls/nbproject/private/
/Java/FireworkBalls/build/
/Java/FireworkBalls/dist/
/Java/Valentine/nbproject/private/
/Java/Valentine/dist/
/Java/Valentine/build/
/Public Personal/HeroSB/DiscordC/nbproject/private/
/Public Personal/HeroSB/DiscordC/dist/
/Public Personal/HeroSB/DiscordC/build/
/Public Personal/HeroSB/Rename/nbproject/private/
/Public Personal/HeroSB/Rename/dist/
/Public Personal/HeroSB/Rename/build/
/Public Personal/HeroSB/FactionsFly/nbproject/private/
/Public Personal/HeroSB/FactionsFly/build/
/Public Personal/HeroSB/FactionsFly/dist/
/Java/FakeOP/nbproject/private/
/Java/FakeOP/dist/
/Java/FakeOP/build/
/Java/MoneySword/nbproject/private/
/Java/MoneySword/build/
/Java/MoneySword/dist/
/Public Personal/KvinneKraft/DashEntrance/nbproject/private/
/Public Personal/KvinneKraft/DashConsilience/nbproject/private/
/Public Personal/KvinneKraft/DashConsilience/build/
/Public Personal/KvinneKraft/DashConsilience/dist/
/Java/DashHeads/nbproject/private/
/Java/DashHeads/build/
/Java/DashHeads/dist/
/Java/ItemRename/nbproject/private/
/Java/ItemDisplay/nbproject/private/
/Java/ItemDisplay/build/
/Java/ItemDisplay/dist/
/Java/1.13-1.15.2/BetterHelp/nbproject/private/
/Java/1.13-1.15.2/BetterHelp/build/
/Java/1.13-1.15.2/BetterHelp/dist/
/Java/1.13-1.15.2/BetterRTP/nbproject/private/
/Java/1.13-1.15.2/BetterRTP/build/
/Java/1.13-1.15.2/BetterRTP/dist/
/Java/1.13-1.15.2/BetterAutoBroadcast/nbproject/private/
/Java/1.13-1.15.2/BetterAutoBroadcast/build/
/Java/1.13-1.15.2/BetterAutoBroadcast/dist/
/Java/1.13-1.15.2/DashWandz/nbproject/private/
/Java/1.13-1.15.2/BetterChatCooldowns/nbproject/private/
/Java/1.13-1.15.2/BetterChatCooldowns/dist/
/Java/1.13-1.15.2/BetterChatCooldowns/build/
/Java/1.13-1.15.2/BetterSocialSpy/nbproject/private/
/Java/1.13-1.15.2/BetterSocialSpy/dist/
/Java/1.13-1.15.2/BetterSocialSpy/build/
/Java/Discontinued/DashChat/dist/
/Java/Discontinued/DashChat/build/
/Java/1.13-1.15.2/DashWandz/dist/
/Java/1.13-1.15.2/DashWandz/build/
/Java/1.13-1.15.2/nbproject/private/
/Java/DeathEffects/nbproject/private/
/Java/DeathTweaks/nbproject/private/
/Java/1.13-1.15.2/DashTaxes/nbproject/private/
/Java/1.13-1.15.2/DashTaxes/dist/
/Java/1.13-1.15.2/DashTaxes/build/
/Java/1.13-1.15.2/DashAuthentication/nbproject/private/
/Java/1.13-1.15.2/DashSecurity/nbproject/private/
/Java/1.13-1.15.2/DashSecurity/build/
/Java/1.13-1.15.2/DashSecurity/dist/
/Java/1.13-1.15.2/BetterBandaids/nbproject/private/
/Java/1.13-1.15.2/BetterBandaids/build/
/Java/1.13-1.15.2/BetterBandaids/dist/
/Java/1.13-1.15.2/DashSit/nbproject/private/
/Java/1.13-1.15.2/DashCombatLog/nbproject/private/
/Java/1.13-1.15.2/DashCombatLog/build/
/Java/1.13-1.15.2/DashCombatLog/dist/
/Java/1.13-1.15.2/BetterFakeEvents/nbproject/private/
*.exe
/Java/1.13-1.15.2/FakeEvents/nbproject/private/
/Java/1.13-1.15.2/FakeEvents/dist/
/Java/1.13-1.15.2/FakeEvents/build/
/Java/1.13-1.15.2/BetterSpawn/nbproject/private/
/Java/1.13-1.15.2/BetterSpawn/build/
/Java/1.13-1.15.2/BetterSpawn/dist/
/Java/1.13-1.15.2/BetterSubstances/nbproject/private/
/Java/1.13-1.15.2/BetterSubstances/build/
/Java/1.13-1.15.2/BetterSubstances/dist/
/Java/1.13-1.15.2/NoRespawnButton/nbproject/private/
/Java/1.13-1.15.2/NoRespawnButton/build/
/Java/1.13-1.15.2/NoRespawnButton/dist/
/Java/1.13-1.15.2/VoteGUI/nbproject/private/
/Java/1.13-1.15.2/VoteGUI/dist/
/Java/1.13-1.15.2/VoteGUI/build/
/Java/1.13-1.15.2/BetterCaptcha/nbproject/private/
/Java/1.13-1.15.2/BetterCaptcha/build/
/Java/1.13-1.15.2/BetterCaptcha/dist/
/Java/1.13-1.15.2/Love/nbproject/private/
/Java/1.13-1.15.2/BetterGUI/nbproject/private/
/Java/1.13-1.15.2/CatPawz/nbproject/private/
/Java/1.13-1.15.2/CatPawz/build/
/Java/1.13-1.15.2/CatPawz/dist/
/Java/1.13-1.15.2/SocialGUI/nbproject/private/
/Java/1.13-1.15.2/DashStrict/nbproject/private/
/Java/1.13-1.15.2/StaffGUI/nbproject/private/
/Java/1.13-1.15.2/BetterTrolls/nbproject/private/
/Java/1.13-1.15.2/BetterTrolls/build/
/Java/1.13-1.15.2/BetterTrolls/dist/
/Java/1.13-1.15.2/FireworkMobs/nbproject/private/
/Java/1.13-1.15.2/FireCrackers/nbproject/private/
/Java/1.13-1.15.2/FireCrackers/dist/
/Java/1.13-1.15.2/FireCrackers/build/
/Java/1.13-1.15.2/TorchSticks/nbproject/private/
/Java/1.13-1.15.2/TorchSticks/build/
/Java/1.13-1.15.2/TorchSticks/dist/
/Java/1.13-1.15.2/OreSignal/nbproject/private/
/Java/1.13-1.15.2/OreSignal/dist/
/Java/1.13-1.15.2/OreSignal/build/
/Java/1.13-1.15.2/MulaStick/nbproject/private/
/Java/1.13-1.15.2/FluffyMines/nbproject/private/
/Java/1.13-1.15.2/FlamingArrows/nbproject/private/
/Java/1.13-1.15.2/FlamingArrows/dist/
/Java/1.13-1.15.2/FlamingArrows/build/
/Java/1.13-1.15.2/DamageModifier/nbproject/private/
/Java/1.13-1.15.2/DamageModifier/build/
/Java/1.13-1.15.2/DamageModifier/dist/
/Java/1.13-1.15.2/GlassyWalk/nbproject/private/
/Java/1.13-1.15.2/GlassyWalk/build/
/Java/1.13-1.15.2/GlassyWalk/dist/
/Java/1.13-1.15.2/MobHealthifier/nbproject/private/
/Java/1.13-1.15.2/MobHealthifier/dist/
/Java/1.13-1.15.2/MobHealthifier/build/
/Java/1.13-1.15.2/FlamyArrows/nbproject/private/
F:/Programming/Dashies Code/Private/*
Other Turds/
Private/
c,c++,c#/Unreleased/Cancelled/Payload Kit/.vs/RedirectionExecutioner/v15/.suo
c,c++,c#/Unreleased/Cancelled/Payload Kit/.vs/RedirectionExecutioner/v16/.suo
c,c++,c#/Unreleased/Cancelled/Lunarilicious/.vs/Lunarilicious/v15/.suo
c,c++,c#/Unreleased/Cancelled/Lunarilicious/.vs/Lunarilicious/v16/.suo
